@charset "UTF-8";
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "GmarketSansMedium" !important;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.main-wrap {
  position: relative;
  background-image: url(img/paper_bg.jpg);
  background-position: center;
  background-size: cover;
}
.main-wrap .start-main {
  position: relative;
  width: 100%;
}
.main-wrap .start-main .main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .start-main .main-content .paper-edge {
  position: absolute;
  top: -4%;
  left: -0.2%;
  background-image: url(img/paper3.png);
  transform: rotate(180deg);
  background-size: cover;
  width: 100%;
  height: 21%;
  z-index: 9;
}
.main-wrap .start-main .main-content .magic1 {
  z-index: 0;
  position: absolute;
  background-image: url("img/magic1.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  left: 0;
  bottom: -30%;
  width: 30%;
  height: 550px;
}
.main-wrap .start-main .main-content .magic2 {
  position: absolute;
  z-index: 9;
  background-image: url("img/magic2.png");
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  width: 45%;
  height: 300px;
}
.main-wrap .start-main .main-content .magic3 {
  position: absolute;
  z-index: 9;
  background-image: url("img/magic3.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  left: 0%;
  top: 12%;
  height: 206px;
}
.main-wrap .start-main .main-content .magic4 {
  position: absolute;
  z-index: 9;
  background-image: url("img/magic4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 28%;
  bottom: 10%;
  height: 149px;
}
.main-wrap .start-main .main-content .magic5 {
  position: absolute;
  z-index: 9;
  background-image: url("img/magic5.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  right: 4%;
  height: 149px;
}
.main-wrap .start-main .main-content .magic6 {
  position: absolute;
  z-index: 9;
  background-image: url("img/magic4.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  right: 30%;
  top: -4%;
  height: 149px;
}
.main-wrap .start-main .main-content .flower {
  position: absolute;
  z-index: 9;
  background-image: url("img/flower.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 17%;
  transform: rotate(30deg);
}
.main-wrap .start-main .main-content .memo {
  position: absolute;
  z-index: 9;
  background-image: url("img/memo.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 300px;
  animation: memo-action 3s ease-in-out infinite;
}
@keyframes memo-action {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.main-wrap .start-main .main-content .title {
  position: relative;
  background-image: url(img/frame.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .start-main .main-content .title span {
  font-family: "Amiri", serif;
  position: absolute;
  width: auto;
  text-transform: uppercase;
  color: rgb(98, 80, 57);
}
.main-wrap .intro-content {
  position: relative;
  width: 100%;
}
.main-wrap .intro-content #section01 {
  position: relative;
}
.main-wrap .intro-content #section01 .intro-desc {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-wrap .intro-content #section01 .intro-desc .flower2-obj {
  position: absolute;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  bottom: -40px;
  background-image: url(img/flower2.png);
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 25%;
  min-width: 700px;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner {
  position: relative;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-left {
  z-index: 9;
  background: url(img/main-picture.png) center;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right {
  z-index: 0;
  background-image: url(img/paper1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right .clip-obj {
  position: absolute;
  background-image: url(img/clip.png);
  background-size: cover;
  transform: rotate(80deg);
  width: 100px;
  height: 105px;
  right: 3%;
  top: -20px;
  z-index: 999;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right .inner-intro-right {
  height: auto;
  text-align: center;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right .inner-intro-right .intro-right-title {
  font-family: "Amiri", serif;
  font-weight: bold;
  color: rgb(98, 80, 57);
  text-transform: uppercase;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right .inner-intro-right p {
  text-align: center;
  margin-top: 20px;
  word-break: keep-all;
  line-height: 1.8;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right #bottom-tape-bg {
  position: absolute;
  width: 90%;
  background-image: url(img/tape.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
  text-align: center;
}
.main-wrap .intro-content #section01 .intro-desc .intro-inner .intro-right #bottom-tape-bg .bottom-tape-text {
  position: relative;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-transform: capitalize;
}
.main-wrap .intro-content .sns-wrap {
  margin-top: 30px;
}
.main-wrap .intro-content .sns-wrap li {
  display: block;
  margin-top: 3px;
  text-transform: capitalize;
}
.main-wrap .intro-content .sns-wrap li .arrow {
  width: 13px;
  fill: none;
  stroke: rgb(98, 80, 57);
}
.main-wrap .intro-content .sns-wrap li .arrowColor {
  stroke: #fff;
}

#open-main-part {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: rgb(224, 224, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#open-main-part #circle1-obj,
#open-main-part #circle2-obj {
  position: absolute;
  width: 450px;
  height: 50vh;
  border-radius: 50%;
}
#open-main-part #circle1-obj {
  border: 1px solid rgb(186, 178, 169);
  top: -30%;
}
#open-main-part #circle2-obj {
  background-color: rgb(221, 207, 181);
  opacity: 0.8;
  bottom: -30%;
}
#open-main-part #line1-obj,
#open-main-part #line2-obj {
  position: absolute;
  border-top: 1px solid rgb(186, 178, 169);
  width: 100%;
}
#open-main-part #line1-obj {
  top: 9.8%;
}
#open-main-part #line2-obj {
  bottom: 9.85%;
}
#open-main-part #line3-obj,
#open-main-part #line4-obj {
  position: absolute;
  border-left: 1px solid rgb(186, 178, 169);
  height: 100%;
}
#open-main-part #line3-obj {
  left: 5%;
}
#open-main-part #line4-obj {
  right: 5%;
}
#open-main-part .page-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid rgb(186, 178, 169);
  width: 450px;
  height: 80vh;
  border-radius: 50%/200px;
  transition: all 0.2s ease-in-out;
}
#open-main-part .page-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: rgb(98, 80, 57);
}
#open-main-part .page-text h2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open-main-part .page-text span {
  z-index: 999;
  font-family: "Amiri", serif;
  text-transform: capitalize;
  font-size: 5rem;
}
#open-main-part p {
  margin-top: 50px;
}

#part-wall {
  position: relative;
  background-color: rgb(224, 224, 216);
  background-position: center;
  background-size: cover;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}

#section02 {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: rgb(98, 80, 57);
}
#section02 #circle3-obj,
#section02 #circle4-obj {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  border: 1px solid rgb(186, 178, 169);
  top: 50%;
  transform: translateY(-50%);
}
#section02 #circle3-obj {
  left: -500px;
}
#section02 #circle4-obj {
  right: -500px;
}
#section02 #line5-obj,
#section02 #line6-obj {
  position: absolute;
  border-left: 1px solid rgb(186, 178, 169);
  top: 0;
  height: 100%;
}
#section02 #line5-obj {
  left: 5%;
}
#section02 #line6-obj {
  right: 5%;
}
#section02 .section02-title {
  position: relative;
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in-out;
}
#section02 .section02-container {
  margin: 0 auto;
  margin-top: 80px;
  height: auto;
}
#section02 .section02-container .inner-section02-container {
  margin: 0 auto;
}
#section02 .section02-container .inner-section02-container .section02-contents {
  position: relative;
  position: relative;
  height: 100%;
  display: table-cell;
  word-break: break-all;
  padding: 0 20px;
}
#section02 .section02-container .inner-section02-container .section02-contents:hover .link-site {
  opacity: 1;
  visibility: visible;
}
#section02 .section02-container .inner-section02-container .section02-contents .section02-contents-img {
  position: relative;
  font-size: 0;
}
#section02 .section02-container .inner-section02-container .section02-contents img {
  width: 100%;
  height: 100%;
}
#section02 .section02-container .inner-section02-container .section02-contents .link-site {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
#section02 .section02-container .inner-section02-container .section02-contents .link-site a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#section02 .section02-container .inner-section02-container .section02-contents .link-site a:nth-child(2) {
  margin-left: 20px;
}
#section02 .section02-container .inner-section02-container .section02-contents .link-site i {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
#section02 .section02-container .inner-section02-container .section02-contents::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
}
#section02 .section02-container .inner-section02-container .section02-contents:last-child:after {
  border-right: none;
}
#section02 .section02-container .inner-section02-container .section02-contents h1 {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}
#section02 .section02-container .inner-section02-container .section02-contents h2 {
  text-align: center;
  margin: 30px 0;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 600;
}
#section02 .section02-container .inner-section02-container .section02-contents p {
  margin-top: 30px;
  font-size: 0.9rem;
  line-height: 21px;
}

#section03 {
  color: rgb(98, 80, 57);
  background-color: rgb(224, 224, 216);
  border-top: 1px solid rgb(186, 178, 169);
  position: relative;
  width: 100%;
  text-align: center;
}
#section03 #line7-obj,
#section03 #line8-obj {
  border-left: 1px solid rgb(186, 178, 169);
  position: absolute;
  top: 0;
  height: 100%;
}
#section03 #line7-obj {
  left: 5%;
}
#section03 #line8-obj {
  right: 5%;
}
#section03 .section03-title {
  position: relative;
  transition: all 0.2s ease-in-out;
}
#section03 .section03-container {
  position: relative;
  margin: 0 auto;
}
#section03 .section03-container .section03-contents {
  width: 100%;
}
#section03 .section03-container .section03-contents .section-items {
  display: table-cell;
  word-break: break-all;
  padding: 0 20px;
  position: relative;
}
#section03 .section03-container .section03-contents .section-items:hover .link-site {
  opacity: 1;
  visibility: visible;
}
#section03 .section03-container .section03-contents .section-items .section02-contents-img {
  position: relative;
  font-size: 0;
}
#section03 .section03-container .section03-contents .section-items img {
  width: 100%;
  height: 100%;
}
#section03 .section03-container .section03-contents .section-items .link-site {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  background: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
#section03 .section03-container .section03-contents .section-items .link-site a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#section03 .section03-container .section03-contents .section-items .link-site a:nth-child(2) {
  margin-left: 20px;
}
#section03 .section03-container .section03-contents .section-items .link-site i {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
}
#section03 .section03-container .section03-contents .section-items .effect-title {
  color: rgb(98, 80, 57);
  padding: 20px;
}
#section03 .section03-container .section03-contents .section-items .effect-title h2 {
  font-family: "Amiri", serif;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
}
#section03 .section03-container .section03-contents .section-items .effect-title p {
  font-size: 0.9rem;
  margin-top: 10px;
}
#section03 .section03-container .section03-contents .section-items .effect-common-img {
  position: relative;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  font-size: 0;
  width: 100%;
  height: 100%;
}
#section03 .section03-container .section03-contents .section-items .effect-common-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#section04 {
  position: relative;
}
#section04 .inner-section04-container {
  border-top: 1px solid rgb(186, 178, 169);
  border-bottom: 1px solid rgb(186, 178, 169);
}
#section04 .inner-section04-container .section04-items {
  position: relative;
}
#section04 .inner-section04-container .section04-items .items-list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
#section04 .inner-section04-container .section04-items .items-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 9;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Amiri", serif;
  text-align: center;
  color: rgb(98, 80, 57);
  line-height: 1.1;
  font-size: 1.5rem;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(1)::after {
  content: "";
  z-index: -1;
  opacity: 0;
  background: url(img/game1.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(1):hover::after {
  content: "";
  z-index: 9;
  opacity: 1;
  background: url(img/game1.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(2)::after {
  content: "";
  z-index: -1;
  opacity: 0;
  background: url(img/game2.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(2):hover::after {
  content: "";
  z-index: 9;
  opacity: 1;
  background: url(img/game2.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(3)::after {
  content: "";
  z-index: -1;
  opacity: 0;
  background: url(img/game3.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:nth-child(3):hover::after {
  content: "";
  z-index: 9;
  opacity: 1;
  background: url(img/game3.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:last-child::after {
  content: "";
  z-index: -1;
  opacity: 0;
  background: url(img/game4.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#section04 .inner-section04-container .section04-items .items-list a:last-child:hover::after {
  content: "";
  z-index: 9;
  opacity: 1;
  background: url(img/game4.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

/*미디어 쿼리*/
/*모바일 767px까지*/
@media screen and (max-width: 767px) {
  .start-main {
    height: 100vh;
  }
  .title {
    width: 100%;
    height: 50%;
  }
  .title span {
    font-size: 2rem;
  }
  .magic3 {
    width: 35%;
  }
  .magic4 {
    width: 23%;
  }
  .magic5 {
    width: 25%;
    bottom: -13%;
  }
  .magic6 {
    width: 30%;
  }
  .memo {
    top: 0%;
    left: 35%;
    width: 15%;
    height: 170px;
  }
  .flower {
    right: 15%;
    width: 22%;
    height: 200px;
  }
  .intro-inner {
    width: 100%;
    height: 80%;
  }
  .intro-inner .intro-left {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    height: 45%;
    top: -10%;
  }
  .intro-inner .intro-right {
    position: absolute;
    bottom: 0%;
    height: 80%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .intro-inner .inner-intro-right {
    width: 80%;
    font-size: 0.9rem;
  }
  .intro-inner .intro-right-title {
    font-size: 2.5rem;
  }
  .intro-inner #bottom-tape-bg {
    height: 50px;
    bottom: 5%;
  }
  .intro-inner .bottom-tape-text {
    line-height: 50px;
    font-size: 0.8rem;
  }
  .intro-inner .clip-obj {
    display: none;
  }
  .inner-section02-container, .section03-contents, .section04-items {
    display: flex;
    flex-direction: column;
  }
  .section02-contents {
    margin: 20px 0;
    border-bottom: 1px solid rgb(186, 178, 169);
  }
  .section02-contents:nth-child(1) {
    margin-top: 0;
  }
  .section02-contents:last-child {
    border-bottom: none;
  }
  .section02-contents p {
    margin-bottom: 30px;
  }
  #section02 {
    padding-top: 100px;
  }
  .section02-desc, .section03-desc {
    font-size: 2.8rem;
    width: 80%;
    word-break: keep-all;
    margin: 0 auto;
  }
  .section02-desc h1, .section03-desc h1 {
    text-align: center;
    font-family: "Amiri", serif;
    color: rgb(98, 80, 57);
    text-transform: uppercase;
    font-weight: 100;
  }
  .section02-desc p, .section03-desc p {
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
    line-height: 1.5;
    font-size: 1rem;
    word-break: keep-all;
    font-size: 0.9rem;
  }
  .section02-container, .section03-container {
    width: 80%;
  }
  .section-items {
    margin-top: 50px;
  }
  .section-items:nth-child(1) {
    margin-top: 0;
  }
  #section03 {
    padding: 80px 0 50px 0;
  }
  #section03 .section03-contents {
    margin: 80px auto 50px auto;
  }
  .inner-section04-container {
    margin: 0 auto;
    width: 90%;
  }
  .section04-items {
    width: 100%;
    margin: 0 auto;
  }
  .items-list {
    flex-direction: column;
  }
  .items-list a {
    width: 100%;
    height: 100%;
    padding: 40px 0;
    border-top: 1px solid rgb(186, 178, 169);
  }
  .items-list a:nth-child(1) {
    border-top: none;
  }
}
/*모바일 768px부터 919까지*/
@media screen and (max-width: 919px) and (min-width: 768px) {
  .flower {
    right: 10%;
    width: 120px;
    height: 240px;
  }
  .intro-inner {
    max-width: 700px;
    width: 100%;
    height: 47vh;
  }
  .intro-inner .intro-left {
    position: absolute;
    left: 0;
    width: 40%;
    height: 450px;
  }
  .intro-inner .intro-right {
    position: absolute;
    right: 0;
    height: 450px;
    width: 550px;
  }
  .intro-inner .inner-intro-right {
    font-size: 0.85rem;
  }
  .intro-inner #bottom-tape-bg {
    bottom: 5%;
    height: 55px;
  }
  .intro-inner .bottom-tape-text {
    line-height: 55px;
    font-size: 0.8rem;
  }
}
/*모바일 1280px부터 920까지*/
@media screen and (max-width: 1280px) and (min-width: 920px) {
  .flower {
    right: 11vw;
    width: 150px;
    height: 320px;
  }
  .intro-inner {
    max-width: 830px;
    width: 100%;
    height: 57vh;
  }
  .intro-left {
    position: absolute;
    left: 0;
    width: 42%;
    height: 520px;
  }
  .intro-right {
    position: absolute;
    right: 0;
    height: 530px;
    width: 640px;
  }
  .intro-right p {
    font-size: 0.95rem;
  }
  .intro-right #bottom-tape-bg {
    height: 65px;
    bottom: 5%;
  }
  .intro-right .bottom-tape-text {
    line-height: 65px;
    font-size: 1rem;
  }
}
/*768px부터 ~*/
@media screen and (min-width: 768px) {
  .start-main {
    height: 80vh;
  }
  .magic3 {
    width: 25%;
  }
  .magic4 {
    width: 13%;
  }
  .magic5 {
    bottom: 2%;
    width: 15%;
  }
  .magic6 {
    width: 15%;
  }
  .memo {
    top: 15%;
    left: 15%;
    width: 10%;
  }
  .title {
    width: 550px;
    height: 490px;
  }
  .title span {
    font-size: 4rem;
  }
  .inner-intro-right {
    width: 60%;
  }
  .intro-right-title {
    font-size: 2.8rem;
  }
  .inner-section02-container, .section03-contents, .section04-items {
    max-width: 1250px;
  }
  .section02-contents::after {
    border-right: 1px solid rgb(186, 178, 169);
  }
  #section02 {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .section02-desc, .section03-desc {
    font-size: 3.7rem;
  }
  .section02-desc h1, .section03-desc h1 {
    text-align: center;
    font-family: "Amiri", serif;
    color: rgb(98, 80, 57);
    text-transform: uppercase;
    font-weight: 100;
  }
  .section02-desc p, .section03-desc p {
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
    line-height: 1.5;
    font-size: 1rem;
    word-break: keep-all;
    font-size: 0.9rem;
  }
  .section02-container, .section03-container {
    width: 90%;
  }
  #section03 {
    padding: 130px 0 50px 0;
  }
  #section03 .section03-contents {
    margin: 50px auto 120px auto;
  }
  .inner-section04-container {
    width: 100%;
    margin: 0 auto;
  }
  .section04-items {
    width: 90%;
    margin: 0 auto;
  }
  .items-list a {
    width: 25%;
    height: 200px;
    border-right: 1px solid rgb(186, 178, 169);
  }
  .items-list a:last-child {
    border-right: none;
  }
}
/*pc 1281px부터 ~ */
@media screen and (min-width: 1281px) {
  .flower {
    right: 16vw;
    width: 150px;
    height: 320px;
  }
  .intro-inner {
    max-width: 900px;
    width: 90%;
    height: 56vh;
  }
  .intro-left {
    position: absolute;
    left: 0;
    width: 380px;
    height: 100%;
  }
  .intro-right {
    position: absolute;
    right: 0;
    height: 510px;
    width: 680px;
  }
  .inner-intro-right {
    top: 25%;
  }
  .inner-intro-right p {
    font-size: 0.95rem;
  }
  #bottom-tape-bg {
    height: 70px;
    bottom: 5%;
  }
  .bottom-tape-text {
    line-height: 70px;
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */